<%= stylesheet_link_tag "agents", :media => "all" %>
                     
<h1><div align="center">Photo Gallery</div></h1>  



</div> 
 <table>
	<tr>
<td colspan="2"></td>
<td><%= image_tag("girl.jpg")%> </td><br>
<th><%= image_tag("stafftrainingday.jpg")%> </th><br> 
<th><%= image_tag("boss.jpg")%> </th> 
<th>The boss </th> 
</table>
<table> 
	<td colspan="2"></td>
<th><h4>Jane looking happy and the</h4></th>
<th><h4>Staff hanging around!!!</h4></th>  
</table>
</div>

 <div align="center">
<table >

</table>
<table>

</table> 



<table>
<th><%= image_tag("jane.jpg")%> </th><br> 
</table>
<table>
<th><h4>Pam our receptionest</h4></th> 
</table>


  <table align="right">
<th><%= image_tag("board.jpg")%> </th><br> 
</table>
<table align="right">
<th><h4>The "Boardroom"</h4></th> 
 </table>


  <table align="right">
<th><%= image_tag("mary.jpg")%> </th><br> 
</table>
<table align="right">
<th><h4>Hard work always pays off"</h4></th> 
 </table>


 
    
 <br>
</br>
<br>
</br>

<table bgcolor="#d0e4fe"align ="center" border = "5" cellpadding ="10">  

<th><%= link_to "Return to Home page",properties_indexTwo_path %></th>  

</table>  

